#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url('../assets/bg.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 20px;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}

#skills h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #2c3e50;
  font-weight: bold;
}

#skills .skill-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}

#skills .skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  text-align: left;
  color: #333;
  border: 2px solid #34495e;
  transition: transform 0.2s ease;
}

#skills .skill-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#skills .skill-item .skill-icon {
  margin-right: 8px;
  font-size: 1.5rem;
  color: #34495e;
}

#skills .skill-item .skill-name {
  flex-grow: 1;
  font-weight: bold;
}

/* Removed the skill-progress class since we're no longer using the CircularProgressbar */
@media (max-width: 768px) {
  #skills .skill-list {
    grid-template-columns: 1fr; 
  }

  #skills .skill-item {
    width: 100%;
  }
}